<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script src="./login.js"></script>
    <!-- 引入BootStrap -->
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.min.css" />
    <script type="text/javascript" src="/bootstrap3/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.min.js"></script>

</head>
<style type="text/css">
    .div{ margin:0 auto; width:300px; height:150px; border:1px solid #F00}
    body {
        padding: 10px
    }
</style>

<body>
<div class="div">
<form action="login" method="get" id="formLogin" onsubmit="test()">
    <table>
        <tr>
            <td>phone</td>
            <td><input id="phone" name="phone" type="text"/></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input id="password" name="password" type="text"></td>
            <td></td>
        </tr>
    </table>
    <div>
        <!-- 后面添加参数起到清除缓存作用 -->
        <img alt="验证码" onclick="this.src='/defaultKaptcha?d='+new Date()*1" src="/defaultKaptcha" />
    </div>

        <input type="text" name="tryCode" />

    <input id="submit" name="submit" type="submit">
</form>
</div>
</body>
</html>