<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>success</title>

</head>
<body>
hello
<table>
    <tr>
        <td  th:text="${userInfo.name}"></td>
        <td  th:text="${userInfo.phone}"></td>
        <td  th:text="${userInfo.address}"></td>
    </tr>
    <tr>
        <td>
            <form action="/feedback">
                <input type="submit" value="feedback">
            </form>
        </td>
    </tr>
</table>

<form action="/city">
    <input type="submit" value="city">
</form>

</body>
</html>