<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>success</title>

</head>
<body>

<div>

    <table>
        <tr>
            <td  th:text="${userInfo.name}"></td>
            <td  th:text="${userInfo.phone}"></td>
            <td  th:text="${userInfo.address}"></td>
        </tr>
        <td>
            <form action="/feedback">
                <input type="submit" value="feedback">
            </form>
        </td>
    </table>



</div>



</body>
</html>